src/main/resources/delay.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://devco.com.co/delayservice/soapdelay" 
	xmlns:tns="http://devco.com.co/delayservice/soapdelay" elementFormDefault="qualified">
	
  <xs:element name="DelayRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name= "delay" type="xs:int"/>
      </xs:sequence>  
    </xs:complexType>
  </xs:element>
  
  <xs:element name="DelayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name= "delay" type="xs:string"/>
      </xs:sequence>  
    </xs:complexType>
  </xs:element>
	
</xs:schema>  